body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
    url(../img/background-image.jpg);
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

span {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  padding: 24px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(17, 13, 14, 0.88),
      rgba(17, 13, 14, 0.88)
    ),
    rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 24px;
}

.nav__list div {
  display: flex;
  justify-content: center;
}

.nav__list input {
  display: none;
}

.nav__element {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 84px;
  height: 84px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.16);
  cursor: pointer;
}

.nav__element svg {
  width: 32px;
  height: 32px;
  fill: rgba(73, 50, 32, 1);
  transition: 250ms ease-in-out;
}

.nav__element:hover svg,
.nav__element:focus svg {
  fill: #bc631e;
}

.nav__list input:checked + label svg {
  position: relative;
  fill: #bc631e;
}

.nav__list input:checked + label {
  position: relative;
  background: linear-gradient(
      90deg,
      rgba(188, 99, 30, 0) 50%,
      rgba(188, 99, 30, 0.4) 171.25%
    ),
    linear-gradient(
      90deg,
      rgba(188, 99, 30, 0.4) -76.67%,
      rgba(188, 99, 30, 0) 50%
    ),
    radial-gradient(
      108.75% 108.75% at 50% 50%,
      rgba(65, 38, 31, 0.4) 0%,
      rgba(75, 71, 74, 0.4) 100%
    );
  border-radius: 4px;
}

.nav__list input:checked + label::before,
.nav__list input:checked + label::after {
  content: "";
  fill: #bc631e;
  position: absolute;
  height: 72px;
  width: 2px;
  background-color: #bc631e;
}

.nav__list input:checked + label::before {
  left: 0;
}

.nav__list input:checked + label::after {
  right: 0;
}

.nav__element:not(:first-child) {
  height: 112px;
}

.main {
  padding: 36px 0 36px;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(17, 13, 14, 0.88),
      rgba(17, 13, 14, 0.88)
    ),
    rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 24px;
  /* margin-right: 24px; */
}

.main__body {
  text-align: center;
  padding: 106px 0 99px;
}

.main__header__list,
.main__footer__list {
  display: grid;
  justify-content: center;
  grid-template-columns: 88px 88px 88px 88px;
  grid-template-rows: 88px;
  grid-gap: 24px;
  padding: 0 36px 0 36px;
}

.main__header__list {
  padding-bottom: 24px;
  border-bottom: 2px solid #2f1d13;
}

.main__footer__list {
  grid-template-rows: 88px 88px;
}

.main__header__list-element,
.main__footer__list-element {
  background: linear-gradient(
      0deg,
      rgba(17, 13, 14, 0.88),
      rgba(17, 13, 14, 0.88)
    ),
    rgba(255, 255, 255, 0.08);
  border: 2px solid #2f1d13;
  box-sizing: border-box;
  border-radius: 8px;
}

.main__body__svg {
  width: 391px;
  height: 147px;
}

.category {
  width: 446px;
  height: 100%;
  padding: 34px;
  background: linear-gradient(
      0deg,
      rgba(17, 13, 14, 0.88),
      rgba(17, 13, 14, 0.88)
    ),
    rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto;
}

.category__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__list input:checked label {
}

.category__toggle {
  grid-gap: 24px;
  border-bottom: 2px solid rgba(188, 99, 30, 0.4);
  padding-bottom: 16px;
}

.category__toggle-element {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(82, 54, 32, 0.4);
  cursor: pointer;
}

.category__toggle-element:not(:last-child) {
  margin-right: 50px;
}

.category__list input {
  display: none;
}

.category__list input:checked + label {
  position: relative;
  color: #bc631e;
}

.category__list label {
  transition: 250ms ease-in-out;
}

.category__list label:hover,
.category__list label:focus {
  position: relative;
  color: #bc631e;
}

.category__list input:checked + label::after {
  content: "";
  position: absolute;
  left: -50%;
  bottom: -17px;
  height: 2px;
  width: 82px;
  background: #bc631e;
  box-shadow: 0px 2px 16px rgba(188, 99, 30, 0.4);
  transform: translateX(50%);
}

.category__body-content label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  border: 2px solid #8f8e8e;
  box-sizing: border-box;
  cursor: pointer;
}

.category__body-img {
  top: 22px;
  width: 100%;
  height: 188px;
  margin-bottom: 122px;
}

.category__body-img-two {
  top: 332px;
  height: 188px;
  width: 188px;
  margin-right: auto;
}

.category__body-img-three {
  top: 518px;
  right: 0;
  height: 126px;
  width: 126px;
  margin-left: auto;
}

.category__body-img svg,
.category__body-img-two svg,
.category__body-img-three svg {
  width: 64px;
  height: 64px;
  fill: rgba(63, 59, 59, 1);
}

.category__body-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.category__body-content input {
  display: none;
}

.category__body-content input:checked + label {
  background: rgba(255, 255, 255, 0.16);
  border: 2px solid #bc631e;
}

.category__body-content input:checked + label svg {
  fill: #bc631e;
}

.category__body {
  position: relative;
  padding-top: 24px;
}

.category__grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.category__grid-wrapper span {
  margin-left: -2px;
  margin-top: -2px;
  width: 64px;
  height: 64px;
  background: linear-gradient(
      0deg,
      rgba(17, 13, 14, 0.88),
      rgba(17, 13, 14, 0.88)
    ),
    rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-collapse: collapse;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: unset;
    width: 1312px;
    height: 748px;
    margin: 0 auto;
    padding: 24px;
  }

  .nav {
    height: unset;
    margin-bottom: 24px;
  }

  .main {
    height: 100%;
  }

  .category {
    width: 100%;
    height: unset;
  }

  .category__body-img {
    top: 22px;
    left: 0;
    width: 372px;
  }

  .category__body-img-two {
    top: 22px;
    left: 556px;
  }

  .category__body-img-three {
    top: 22px;
    right: 0;
  }
}

@media screen and (min-width: 1518px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1518px;
    max-width: unset;
    height: 748px;
    padding: 0;
  }

  .nav {
    height: 100%;
    margin-bottom: 0;
    margin-right: 24px;
  }

  .nav__list div {
    display: block;
  }

  .main {
    margin: 0 24px 0 0;
  }

  .category {
    width: 446px;
    height: 100%;
    margin: 0;
  }

  .category__body-img-three {
    top: unset;
    bottom: 0;
  }

  .category__body-img-two {
    left: 0;
    top: 332px;
  }
}
